ul, li {
	margin: 0;
	padding: 0;
}

.main-user-dashboard {width: 100px; background-color: #F0F0F0; float: left}
.chat-container {position:relative; width: 600px; margin: 0 auto; min-height: 600px;}
.write-message-area {width: 100%; position: absolute; bottom: 0}
.write-message-area textarea {width: 80%; }